body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body,
html {
    height: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #FDE7D2 50%, #D2B48C 50%);
    z-index: -1;
}

header {
    background-color: #8c736f;
    color: black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* 讓 header 固定在頂部 */
    /* width: 100%; */
    /* 使 header 充滿整個寬度 */
    /* top: 0; */
    /* 距離頁面頂部的距離為 0 */
    /* z-index: 999; */
    /* 設定 z-index 避免被其他元素遮擋 */
}

a {
    text-decoration: none;
    /* 去除超連結的下劃線 */
    color: inherit;
    /* 使文字顏色繼承父級元素的顏色 */
}


.logo {
    margin-left: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.logo:hover {
    color: #D2B48C;
    transform: translateY(-10px);
    /* 向上移动5像素，你可以根据需要调整这个值 */
    transition: transform 0.5s ease;
    /* 添加平滑过渡效果，持续时间为0.3秒 */
}

.logo-circle {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    /* background-color: #F0A5A0; */
    /* 背景顏色變為 #F0A5A0 */
    color: #D2B48C;
    /* 文字顏色保持為黑色 */
    /* font-weight: bold; */
}



footer {
    background-color: #f8efe6;
    color: black;
    padding: 20px 0;
    text-align: center;

}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-item {
    margin: 0 20px;
}

.contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}